body {
  margin: 0;
  padding: 0;
  background-color: #1e1f2f; /* bluish-grayish */
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#logo {
  position: fixed;
  top: -1px;
  left: 10px;
  width: 170px;
  cursor: pointer;
  z-index: 999;
}

#binaryCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.center-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.glow-btn {
  background-color: #dd6a1f;
  color: white;
  border: none;
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 15px #dd6a1f, 0 0 30px #dd6a1f70;
  transition: 0.3s;
}

.glow-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #dd6a1f, 0 0 45px #dd6a1f90;
}
