body {
  margin: 0;
  overflow: hidden;
  background-color: #0e1c3c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas#binary {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.logo {
  position: fixed;
  top: -1px;
  left: 15px;
  width: 170px;
  height: auto;
  z-index: 2;
  cursor: pointer;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  gap: 40px;
  flex-direction: row;
}

.glow-button {
  padding: 20px 40px;
  background-color: #c3541c;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 0 0 10px #a1440b;
  transition: all 0.3s ease;
}

.glow-button:hover {
  background-color: #dd6a1f;
  box-shadow: 0 0 20px #dd6a1f, 0 0 30px #dd6a1f;
}
